// eslint-disable-file no-use-before-define 

.B2BContainer {
    padding: 1.5rem;
    background: #F8F8F8;
    .Flex {
        display: flex;
        justify-content: space-between;
        @media(max-width:770px) {
           display: block;
        }
    }
    .FlexColumn {
        display: flex;
        flex-direction: column;
    }
    .B2BContainerSwitch {
      padding: 0rem 0rem 1.5rem 0rem;
        display: flex;
        align-items: center;
        margin-left: 24px;
        span {
            font-size: 0.75rem;
            font-weight: 400;
            color: #727578;
        }
    }
    .B2BContentContainer {
        border: 1px solid #FFF;
        border-radius: 0.25rem;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
        background: #FFFFFF;
        padding-left: 1.5rem;
        padding-bottom: 2.5rem;
        max-width: 1260px;
        margin: 0 auto;
        @media(max-width: 770px) {
          padding-right: 1.5rem;
        }
        @media(max-width: 370px) {
          padding-right: 0px;
          padding-left: 0px;
        }
        .B2BContentDescription {
            h1 {
                font-size: 1rem;
                font-weight: 600;
                text-transform: uppercase;
                color: #273472;
            }
            p { 
                font-size: 0.75rem;
                color: #24262b;
                font-weight: 400;
                padding-bottom: 1.5rem;
            }
            .B2BContainerHeader {
              display: flex;
              justify-content: space-between;
              align-items: center;
              width: 95%;
              img {
                display: none;
                  @media(max-width: 770px) {
                    display: block;
                  }
              }
            }
        }
    }

    .B2BContainerContentModule {
        padding: 15px;
        height: 30rem;
        overflow-x: scroll;
        .B2BContentModule {
          border-top: 1px solid rgba(140, 140, 140, 0.2);
          padding: 0.5rem;
        //   width: 90%;
          list-style-type: none;

        //   height: 3.375rem;
            .B2BContentModuleName {
                display: flex;
                justify-content: space-between;
                font-size: 0.75rem;
                font-weight: 400;
                color: #727578;
                margin-left: 0.5rem;
            }
            .B2BContentModuleTitle {
                font-size: 1rem;
                color: #24262B;
                margin-left: 0.5rem;
            }
        }
        p {
          cursor: pointer;
        }
    }
    .B2BSearchModule {
      margin-left: 1.5rem;
      position: relative;
      max-width: 20.5rem;
        input {
            width: 100%;
            border: none;
            border-bottom: 1px solid #24262B;
            padding-bottom: 0.625rem;
            background-color: transparent;
        }
        input::placeholder {
            color: #BDBDBD;
            font-size: 1rem;
            font-weight: 300;
        }
        img {
          position: absolute;
          top: 5px;
          right: 0;

        }
    }
    .switch {
        position: relative;
        display: inline-block;
        width: 2.125rem;
        height: 0.875rem;
        margin-right: 0.5rem;
      }
      
      /* Hide default HTML checkbox */
      .switch input {
        opacity: 0;
        width: 0;
        height: 0;
      }
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #A6D7F0;
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      .slider:before {
        position: absolute;
        content: "";
        height: 1.25rem;
        width: 1.25rem;
        bottom: -2px;
        background: #273472;
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      input:checked + .slider {
        background-color: #A6D7F0;
      }
      
      input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
      }
      
      input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }
      
      /* Rounded sliders */
      .slider.round {
        border-radius: 2.125rem;
      }
      
      .slider.round:before {
        border-radius: 50%;
      }
}

.B2BContainerContentModule::-webkit-scrollbar {
    width: 6px;
    height: 0px;
}

.B2BContainerContentModule::-webkit-scrollbar-thumb {
    background: #96BBF5;
    border-radius: 4px;
  }

  .B2BContainerModule {
    display: flex;
    margin-top: 1.5rem;
  }
  .ContentSelected {
    p {
      color: #EE4978;
      font-size: 12px;
      line-height: 16px;
      font-weight: 400;
      margin-left: 0.5rem;
      margin-top: 8px
    }
  }
  .selected {
    color: #273472;
    font-size: 16px;
  }
  .B2BRightContent {
    width: 100%;
  }
  .B2BLeftContent {
    max-width: 21rem;
    width: 100%;
    padding: 21px;
    @media(max-width: 770px) {
      max-width: none;
      width: auto;
      margin-top: 20px;
      .B2BContainerSpan {
        img {
          display: none;
        }
      }
      .B2BSearchModule {
        max-width: none;
        margin-left: 0px;
      }
      .B2BContainerSwitch {
        margin-left: 0px;
      }
      .B2BContainerContentModule  {
        height: 15rem;
      }
    }
  }
  .B2BContainerSpan {
    margin-left: 0.5rem;
    display: flex;
    justify-content: space-between;
    width: 85%;
    align-items: center;
  }
  .ContainerSelected {
    .B2BContentModuleTitle {
      color: #273472!important;
      font-weight: 300;
    }
    .B2BContainerContentReference {
      background-color: #F4F7FA;
      padding-right: 10px;
      width: 100%;
    }
  }
  .B2BAccordionContentSelected {
    display: flex;
    justify-content: space-between;
    p:nth-child(2) { 
      color: #727578
    }
  }
  .loader {

    width: 14px;
    height: 14px;
    border: 4px solid #96BBF5;
    border-left-color: #c9d6c9;
    border-radius: 100%;
    animation: loader 1s linear infinite;
  }

  @keyframes loader {

    to {
  
      transform: rotate(360deg);
    }
  }